[Unit]
Description=EcoPoints Python Backend
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=__WORKDIR__
# Using libcamerify wrapper to ensure OpenCV sees the Pi 5 Camera Module 3
ExecStart=/usr/bin/libcamerify __WORKDIR__/venv/bin/python __WORKDIR__/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
